" Mappings
map q :action AceAction<CR>
nnoremap <C-j> J
noremap <A-V> <C-V>
nnoremap H :action Back<CR>
nnoremap L :action Forward<CR>
nnoremap J :action PreviousTab<CR>
nnoremap K :action NextTab<CR>
nnoremap U :action NextSplitter<CR>
imap jj <Esc>

" Leader mappings
nnoremap <SPACE> <Nop>
let mapleader=" "

map <leader>d :action Debug<CR>
map <leader>r :action Run<CR>
map <leader>c :action Stop<CR>

map <leader>s :action SelectInProjectView<CR>
map <leader>h :action Vcs.ShowTabbedFileHistory<CR>

" Reformat the current line only
map <leader>l V:action ReformatCode<CR>

map <leader>b :action ToggleLineBreakpoint<CR>
map <leader>o :action FileStructurePopup<CR>

" Plugins
set surround
set easymotion
set multiple-cursors
set commentary
set ReplaceWithRegister
set argtextobj
set textobj-entire
set exchange


set incsearch
set hlsearch
set ignorecase
set smartcase
set showmode
set scrolloff=5

# Idea specific settings
set ideajoin
set ideastatusicon=gray

set clipboard+=unnamed

let g:argtextobj_pairs="(:),[:]"
