" Press `q` to activate AceJump
map q :action AceAction<CR>

set surround
set easymotion
set multiple-cursors
set commentary
set ReplaceWithRegister
set argtextobj
set textobj-entire


set incsearch
set hlsearch
set ignorecase
set smartcase
