<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Push2Run.MySettings>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>2.1.2.0</value>
            </setting>
            <setting name="ColumnWidthDescription" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="ColumnWidthListenFor" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="ColumnWidthOpen" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="ColumnWidthStartIn" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="CheckForUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdateFrequency" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>714, 430</value>
            </setting>
            <setting name="PushBulletAPI" serializeAs="String">
                <value>9SUbDfL9CG0ntFNLVMPTdmg+A2dlWJ1qF44PlAMN2pli87sBHoWmUyMFFyC8p9Ag</value>
            </setting>
            <setting name="ShowPush2RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartBossAsAdministratorByDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartBossOnLogon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ViewDescription" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewListenFor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewParameters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NextVersionCheckDate" serializeAs="String">
                <value>2019-03-17</value>
            </setting>
            <setting name="PushBulletTitleFilter" serializeAs="String">
                <value>Push2Run VOZMAN</value>
            </setting>
            <setting name="MyUniqueID" serializeAs="String">
                <value>…1tž/‡aaIæmY½ºi</value>
            </setting>
            <setting name="SortByDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewStartIn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewAdmin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnWidthParameters" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="ColumnWidthAdmin" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="UACLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmRedX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTimeRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewFilters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewStartingWindowState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnWidthStartingWindowState" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="ColumnWidthKeysToSend" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="ViewKeysToSend" serializeAs="String">
                <value>True</value>
            </setting>
        </Push2Run.MySettings>
    </userSettings>
</configuration>